---
import Button from "../components/ui/Button.astro";
import LinkButton from "../components/LinkButton.astro";
---

<section
  data-testid="hero"
  class="flex flex-col-reverse items-center justify-center text-center lg:flex-row"
>
  <div class="flex flex-col items-center py-10 lg:mb-0">
    <div>
      <p class="p-6 text-xl">
        My name is <span class="font-bold text-skin-accent">Ian Bull</span> and I
        live on west coast of Canada. I am the creator of Zest &
        <LinkButton
          className="hover:text-skin-accent"
          href="https://github.com/eclipsesource/J2V8"
        >
          J2V8,</LinkButton
        > former Eclipse p2 Lead, member of the Eclipse Architecture Council & a
        Rust Turbofish <span class="font-bold text-skin-accent">::&lt;&gt;</span
        >. I am a distinguished engineer at Mediform, director at
        the <LinkButton
          className="hover:text-skin-accent"
          href="https://carnarvon.ca/">Carnarvon Ball Club,</LinkButton
        > coach, teacher & community Volunteer.
      </p>
      <p class="p-6 text-xl">
        I have a passion for building developer tools and I spend my days
        writing software, managing Kubernetes clusters and coaching youth sports. I love
        <span class="font-bold text-skin-accent"
          ><a href="/tags/camping">Camping,</a>
        </span>
        <span class="font-bold text-skin-accent">
          <a href="/tags/skiing">Skiing</a>
        </span> and <span class="font-bold text-skin-accent"
          ><a href="/tags/biking">Biking</a></span
        > with my family.
      </p>
    </div>
    <div class="mb-0">
      <Button
        onclick="window.location.href='/about';"
        style={"primary"}
        size={"lg"}
        class={"flex"}
        name="learn more"
        href="/about"
      >
        Learn more
      </Button>
    </div>
  </div>
</section>
