---
import { SOCIALS } from "../config.ts";
import LinkButton from "./LinkButton.astro";
import socialIcons from "../assets/socialIcons.ts";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <div class="link-button-parent">
        <LinkButton
          href={social.href}
          className="link-button"
          title={social.linkTitle}
        >
          <Fragment set:html={socialIcons[social.name]} />
        </LinkButton>
      </div>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .link-button-parent {
    @apply p-2 hover:rotate-6 sm:p-1;
  }
</style>
